header.edit-header
  .container
    .row.align-items-center
      .col-2
        .edit-logo
          a(href="/")
            img(src="/images/logo512.png", alt="Logo")
      .col-10
        .edit-menu
          ul
            li
              a(href="https://facebook.com" title="Liên hệ" target="_blank" rel="noopener noreferrer") 
                i.fa-brands.fa-facebook
            li
              a(href="https://github.com" target="_blank" title="Source Code" rel="noopener noreferrer") 
                i.fa-brands.fa-github
            li
              a(href="/#" title="Tải xuống") 
                i.fa-solid.fa-download
