header.header
  .container
    .row.align-items-center
      .col-2
        .inner-logo
          a(href="/")
            img(src="/images/logo512.png", alt="Logo")
      .col-3
        .inner-name
          p #{pageTitle}
      .col-7
        .inner-menu 
          ul
            li
              a(href="https://facebook.com" title="Liên hệ" target="_blank") 
                i.fa-solid.fa-brands.fa-facebook
            li
              a(href="https://github.com" target="_blank" title="Soure Code") 
                i.fa-solid.fa-brands.fa-github
            li
              a(href="/#" title="Tải xuống") 
                i.fa-solid.fa-regular.fa-download
