extend ../../layouts/default.pug

block main
  .upload-section
    h2.title Trình chỉnh sửa ảnh trực tuyến miễn phí
    p.desc Thêm các bộ lọc, nhãn dán, văn bản hoặc hình ảnh khác. Cắt, phản chiếu, xoay hoặc thay đổi kích thước hình ảnh của bạn và nhiều hơn nữa!
    
    .upload-box
      .upload-icon
        i.fa-solid.fa-cloud-arrow-up
      p.upload-text Drop files or click here
      .upload-button
        button.btn-upload Chọn file
        i.fa-solid.fa-chevron-down